.wrapper {
  width: 55%;
  display:inline-block;
  vertical-align: top;
  position: relative;
}

.image {
  width: 100%;
  border-style: none;
}

.button {
  position: absolute;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease;
}

.button.active{
  background-color: #e80009;
}